name: Docker push to repo

on:
  push:
    branches:
      - master

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v2

      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWORD}}
          repository: akshatm/chat-app
          tag_with_ref: true
          tag_with_sha: true
